.nav li.active:before {
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    /*box-shadow: 20px 20px 0 #3b82f6;*/
}

.nav li.active:after {
    content: "";
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    /*box-shadow: -20px 20px 0 #3b82f6;*/
}

.nav li {
    cursor: pointer;
}

.nav {
    overflow: hidden;
}